In [320]:
import os

# # Get the current working directory and go up one level to reach root
# DATA_DIR = os.path.join(os.getcwd(), '..', 'data')
# print(f"Data directory: {DATA_DIR}")

# # list contents of the data directory
# print(os.listdir(DATA_DIR))

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

# Add this to help Python find the module
import sys
sys.path.append(os.path.join(os.getcwd(), '..'))

In [321]:
data = pd.read_csv('data/labelled_data.csv')
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [322]:
# Print the first few rows of the merged data
print(display(data.head()))

# Print information about the merged dat
print(data.info())

,timestamp,valence,arousal,emotion,heart_rate,stress,respiration,body_battery,spo2,sleep_score,hrv_avg
0,2025-02-24 17:32:00,0.89,0.54,Happy,54.0,10.0,15.0,45.0,NaN,89.0,106.0
1,2025-02-24 18:12:00,0.99,0.50,Happy,73.0,22.0,11.0,45.0,95.0,89.0,106.0
2,2025-02-24 19:04:00,0.98,0.55,Happy,81.0,-1.0,-1.0,45.0,94.0,89.0,106.0
3,2025-02-25 12:12:00,0.03,-0.04,Neutral,74.0,-1.0,-1.0,100.0,96.0,88.0,87.0
4,2025-02-25 12:36:00,-0.07,-0.04,Upset,110.0,-2.0,-1.0,100.0,96.0,88.0,87.0

None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     117 non-null    datetime64[ns]
 1   valence       117 non-null    float64
 2   arousal       117 non-null    float64
 3   emotion       117 non-null    object
 4   heart_rate    117 non-null    float64
 5   stress        117 non-null    float64
 6   respiration   117 non-null    float64
 7   body_battery  111 non-null    float64
 8   spo2          108 non-null    float64
 9   sleep_score   98 non-null     float64
 10  hrv_avg       98 non-null     float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 10.2+ KB
None

## FILL MISSING VALUES

In [323]:
print(data.isnull().sum())

timestamp        0
valence          0
arousal          0
emotion          0
heart_rate       0
stress           0
respiration      0
body_battery     6
spo2             9
sleep_score     19
hrv_avg         19
dtype: int64

In [324]:
## MAKE DFS FOR MISSING VALUES
missing_values = data[data.isnull().any(axis=1)]
print(display(missing_values.head()))

,timestamp,valence,arousal,emotion,heart_rate,stress,respiration,body_battery,spo2,sleep_score,hrv_avg
0,2025-02-24 17:32:00,0.89,0.54,Happy,54.0,10.0,15.0,45.0,NaN,89.0,106.0
15,2025-02-27 10:36:00,0.05,0.06,Neutral,93.0,93.0,12.0,87.0,93.0,NaN,NaN
16,2025-02-27 11:20:00,0.86,0.43,Happy,94.0,87.0,15.0,87.0,90.0,NaN,NaN
17,2025-02-27 14:52:00,-0.09,0.02,Stressed,67.0,-1.0,13.0,87.0,92.0,NaN,NaN
18,2025-02-27 15:12:00,0.02,-0.00,Stressed,75.0,70.0,16.0,87.0,93.0,NaN,NaN

None

### SLEEP SCORE

In [325]:
sleep_score_missing = missing_values[missing_values['sleep_score'].isnull()]
print(display(sleep_score_missing.head(20)))

,timestamp,valence,arousal,emotion,heart_rate,stress,respiration,body_battery,spo2,sleep_score,hrv_avg
15,2025-02-27 10:36:00,0.050000,0.060000,Neutral,93.0,93.0,12.0,87.0,93.0,NaN,NaN
16,2025-02-27 11:20:00,0.860000,0.430000,Happy,94.0,87.0,15.0,87.0,90.0,NaN,NaN
17,2025-02-27 14:52:00,-0.090000,0.020000,Stressed,67.0,-1.0,13.0,87.0,92.0,NaN,NaN
18,2025-02-27 15:12:00,0.020000,-0.000000,Stressed,75.0,70.0,16.0,87.0,93.0,NaN,NaN
19,2025-02-27 16:22:00,-0.070000,0.030000,Stressed,98.0,86.0,13.0,42.0,93.0,NaN,NaN
20,2025-02-27 18:28:00,0.040000,0.070000,Neutral,111.0,44.0,19.0,42.0,92.0,NaN,NaN
21,2025-02-27 22:28:00,-0.100000,-0.010000,Neutral,85.0,70.0,14.0,42.0,92.0,NaN,NaN
75,2025-03-31 10:10:00,-0.202279,0.979328,Tense,64.0,19.0,14.0,80.0,97.0,NaN,NaN
76,2025-03-31 12:42:00,0.651429,-0.385714,Content,74.0,43.0,14.0,80.0,95.0,NaN,NaN
77,2025-03-31 15:08:00,-0.597590,0.801802,Anxious,89.0,70.0,14.0,80.0,94.0,NaN,NaN
98,2025-04-07 14:02:00,0.108571,0.002857,Neutral,66.0,31.0,13.0,NaN,95.0,NaN,NaN
99,2025-04-07 15:04:00,0.074286,0.437143,Neutral,70.0,27.0,10.0,NaN,95.0,NaN,NaN
100,2025-04-07 15:42:00,-0.120000,0.760000,Tense,61.0,22.0,12.0,NaN,95.0,NaN,NaN
101,2025-04-07 20:40:00,0.428571,-0.771429,Relaxed,55.0,15.0,12.0,40.0,93.0,NaN,NaN
102,2025-04-07 20:52:00,0.440000,-0.062857,Neutral,58.0,21.0,15.0,40.0,93.0,NaN,NaN
103,2025-04-07 20:54:00,0.711105,0.703085,Excited,59.0,19.0,11.0,40.0,93.0,NaN,NaN
104,2025-04-07 21:16:00,0.874277,0.485427,Happy,73.0,74.0,-2.0,40.0,95.0,NaN,NaN
105,2025-04-07 21:42:00,-0.182857,0.694286,Tense,63.0,18.0,10.0,20.0,95.0,NaN,NaN
106,2025-04-07 22:12:00,-0.274286,-0.351429,Bored,57.0,22.0,17.0,20.0,97.0,NaN,NaN

None

In [326]:
# FIND AVERAGE SLEEP SCORE FOR MONTH 2, 3 and 4
avg_sleep_score_2 = data[data['timestamp'].dt.month == 2]['sleep_score'].median()
avg_sleep_score_3 = data[data['timestamp'].dt.month == 3]['sleep_score'].median()
avg_sleep_score_4 = data[data['timestamp'].dt.month == 4]['sleep_score'].median()

print(avg_sleep_score_2, avg_sleep_score_3, avg_sleep_score_4)

#print average sleep score general
print(data['sleep_score'].median())
print(data['sleep_score'].mean())

88.0 80.0 77.0
81.0
77.14285714285714

In [327]:
# Fill missing sleep score with median sleep score
data['sleep_score'] = data['sleep_score'].fillna(data['sleep_score'].median())

In [328]:
print(data['sleep_score'].isnull().sum())

0

## HRV AVERAGE

In [329]:
#print average hrv general
print(data['hrv_avg'].median())
print(data['hrv_avg'].mean())

66.0
71.24489795918367

In [330]:
# print correlation between hrv_avg and sleep_score
print(data['hrv_avg'].corr(data['sleep_score']))

0.6165087471496099

In [331]:
#filter tiers of sleep scores, and their mean hrv_avg
data['sleep_score_tier'] = pd.cut(data['sleep_score'], bins=[0, 50, 70, 90, 100], labels=['Poor', 'Fair', 'Good', 'Excellent'])
print(data['sleep_score_tier'].value_counts())
print(data.groupby('sleep_score_tier')['hrv_avg'].mean())

sleep_score_tier
Good         89
Poor         11
Fair          9
Excellent     8
Name: count, dtype: int64
sleep_score_tier
Poor         53.000000
Fair         58.777778
Good         74.585714
Excellent    81.125000
Name: hrv_avg, dtype: float64

/var/folders/j6/0_ddmg5d0vq82z4h6nfrm6080000gn/T/ipykernel_65704/3177503904.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(data.groupby('sleep_score_tier')['hrv_avg'].mean())

In [332]:
# Fill misisng hrv_avg with mean hrv_avg for each sleep score tier
data['hrv_avg'] = data['hrv_avg'].fillna(data.groupby('sleep_score_tier')['hrv_avg'].transform('mean'))

/var/folders/j6/0_ddmg5d0vq82z4h6nfrm6080000gn/T/ipykernel_65704/1051095475.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data['hrv_avg'] = data['hrv_avg'].fillna(data.groupby('sleep_score_tier')['hrv_avg'].transform('mean'))

In [333]:
print(data['hrv_avg'].isnull().sum())

0

In [334]:
data.head()

,timestamp,valence,arousal,emotion,heart_rate,stress,respiration,body_battery,spo2,sleep_score,hrv_avg,sleep_score_tier
0,2025-02-24 17:32:00,0.89,0.54,Happy,54.0,10.0,15.0,45.0,NaN,89.0,106.0,Good
1,2025-02-24 18:12:00,0.99,0.50,Happy,73.0,22.0,11.0,45.0,95.0,89.0,106.0,Good
2,2025-02-24 19:04:00,0.98,0.55,Happy,81.0,-1.0,-1.0,45.0,94.0,89.0,106.0,Good
3,2025-02-25 12:12:00,0.03,-0.04,Neutral,74.0,-1.0,-1.0,100.0,96.0,88.0,87.0,Good
4,2025-02-25 12:36:00,-0.07,-0.04,Upset,110.0,-2.0,-1.0,100.0,96.0,88.0,87.0,Good

## SPO2

In [335]:
# print spo2 missing values df
print(display(data[data['spo2'].isnull()]))

,timestamp,valence,arousal,emotion,heart_rate,stress,respiration,body_battery,spo2,sleep_score,hrv_avg,sleep_score_tier
0,2025-02-24 17:32:00,0.890000,0.540000,Happy,54.0,10.0,15.0,45.0,NaN,89.0,106.0,Good
67,2025-03-28 00:32:00,0.838198,0.545366,Happy,67.0,37.0,18.0,NaN,NaN,60.0,57.0,Fair
68,2025-03-28 01:14:00,0.280000,0.162857,Neutral,77.0,69.0,17.0,NaN,NaN,60.0,57.0,Fair
69,2025-03-28 13:18:00,0.794286,0.574286,Happy,65.0,22.0,17.0,54.0,NaN,60.0,57.0,Fair
70,2025-03-28 13:20:00,0.622857,0.777143,Excited,68.0,22.0,18.0,54.0,NaN,60.0,57.0,Fair
71,2025-03-28 15:06:00,0.770000,0.930000,Excited,124.0,-2.0,-1.0,44.0,NaN,60.0,57.0,Fair
72,2025-03-28 15:34:00,0.745846,0.666118,Excited,113.0,-2.0,-1.0,44.0,NaN,60.0,57.0,Fair
73,2025-03-28 15:42:00,-0.425297,0.905054,Anxious,70.0,-1.0,15.0,44.0,NaN,60.0,57.0,Fair
74,2025-03-28 16:58:00,0.870445,0.492266,Happy,76.0,35.0,18.0,44.0,NaN,60.0,57.0,Fair

None

In [336]:
# print average spo2
print(data['spo2'].median())
print(data['spo2'].mean())

#min and max spo2
print(data['spo2'].min())
print(data['spo2'].max())

94.0
93.93518518518519
87.0
98.0

In [337]:
#fill using median
data['spo2'] = data['spo2'].fillna(data['spo2'].median())

## BODY BATTERY

In [338]:
print(display(data[data['body_battery'].isnull()]))

,timestamp,valence,arousal,emotion,heart_rate,stress,respiration,body_battery,spo2,sleep_score,hrv_avg,sleep_score_tier
53,2025-03-27 00:40:00,-0.650000,0.990000,Anxious,62.0,37.0,20.0,NaN,95.0,81.0,64.000000,Good
67,2025-03-28 00:32:00,0.838198,0.545366,Happy,67.0,37.0,18.0,NaN,94.0,60.0,57.000000,Fair
68,2025-03-28 01:14:00,0.280000,0.162857,Neutral,77.0,69.0,17.0,NaN,94.0,60.0,57.000000,Fair
98,2025-04-07 14:02:00,0.108571,0.002857,Neutral,66.0,31.0,13.0,NaN,95.0,81.0,74.585714,Good
99,2025-04-07 15:04:00,0.074286,0.437143,Neutral,70.0,27.0,10.0,NaN,95.0,81.0,74.585714,Good
100,2025-04-07 15:42:00,-0.120000,0.760000,Tense,61.0,22.0,12.0,NaN,95.0,81.0,74.585714,Good

None

In [339]:
# Create time_of_day column
data['time_of_day'] = pd.cut(data['timestamp'].dt.hour, 
                            bins=[0, 6, 12, 18, 22, 24], 
                            labels=['Night', 'Morning', 'Afternoon', 'Evening', 'Night'],
                            include_lowest=True,
                            ordered=False)  # Add this parameter

# Print the distribution of time periods
print(data['time_of_day'].value_counts())

time_of_day
Afternoon    64
Morning      27
Evening      21
Night         5
Name: count, dtype: int64

In [340]:
# Calculate average body battery by time of day
avg_body_battery = data.groupby('time_of_day')['body_battery'].mean().round(2)

# Print the results
print("\nAverage Body Battery by Time of Day:")
print(avg_body_battery)

Average Body Battery by Time of Day:
time_of_day
Afternoon    60.16
Evening      47.33
Morning      79.59
Night        20.00
Name: body_battery, dtype: float64

/var/folders/j6/0_ddmg5d0vq82z4h6nfrm6080000gn/T/ipykernel_65704/335976694.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_body_battery = data.groupby('time_of_day')['body_battery'].mean().round(2)

In [341]:
# Fill missing body battery with average body battery by time of day
data['body_battery'] = data['body_battery'].fillna(data.groupby('time_of_day')['body_battery'].transform('mean'))
print(data['body_battery'].isnull().sum())

0

/var/folders/j6/0_ddmg5d0vq82z4h6nfrm6080000gn/T/ipykernel_65704/2848198226.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data['body_battery'] = data['body_battery'].fillna(data.groupby('time_of_day')['body_battery'].transform('mean'))

## HRV STRESS AND RESP

In [342]:
# Drop missing values
data = data.dropna()

In [343]:
data.isnull().sum()

timestamp           0
valence             0
arousal             0
emotion             0
heart_rate          0
stress              0
respiration         0
body_battery        0
spo2                0
sleep_score         0
hrv_avg             0
sleep_score_tier    0
time_of_day         0
dtype: int64

In [344]:
# Round all float columns to 2 decimal places
data = data.round(2)

data.head()

,timestamp,valence,arousal,emotion,heart_rate,stress,respiration,body_battery,spo2,sleep_score,hrv_avg,sleep_score_tier,time_of_day
0,2025-02-24 17:32:00,0.89,0.54,Happy,54.0,10.0,15.0,45.0,94.0,89.0,106.0,Good,Afternoon
1,2025-02-24 18:12:00,0.99,0.50,Happy,73.0,22.0,11.0,45.0,95.0,89.0,106.0,Good,Afternoon
2,2025-02-24 19:04:00,0.98,0.55,Happy,81.0,-1.0,-1.0,45.0,94.0,89.0,106.0,Good,Evening
3,2025-02-25 12:12:00,0.03,-0.04,Neutral,74.0,-1.0,-1.0,100.0,96.0,88.0,87.0,Good,Morning
4,2025-02-25 12:36:00,-0.07,-0.04,Upset,110.0,-2.0,-1.0,100.0,96.0,88.0,87.0,Good,Morning

In [345]:
# save as cleaned_data
data.to_csv("data/cleaned_data.csv")